<a href="https://colab.research.google.com/github/jaikishore143/R19-python/blob/main/19A21A0573_JAI_KISHORE_BOLLAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                     exercise 1                          
a) Running instructions in Interactive interpreter and a python script.

In [ ]:
print("Hello ,Dilkk")

Hello ,Dilkk

b)write a program to purposefully raise indentation error and correct it

In [ ]:
if True:
print("True")
else
Print("False")

IndentationError: ignored

In [ ]:
if True:
 print("True")
else:
 Print("False")

True

In [ ]:
if True:
  print("True1")
     print("True2")
else:
  Print("False1")

IndentationError: ignored

In [ ]:
if True:
  print("True1")
  print("True2")
else:
  Print("False1")

True1
True2

exercise 2

a) write a program to compute distance between two points taking input from the user.

In [ ]:
import math
x1=int(input("Enter x1 value:"))
x2=int(input("Enter x2 value:"))
y1=int(input("Enter y1 value:"))
y2=int(input("Enter y2 value:"))
d=math.sqrt(((x2-x1)**2)+((y2-y1)**2))
print("distance of two points",d)

Enter x1 value:10
Enter x2 value:5
Enter y1 value:8
Enter y2 value:6
distance of two points 5.385164807134504

b)write a program add.py that takes 2 numbers as command line arguments and prints its sum

In [ ]:
import sys 
a=int(sys.argv[1])
b=int(sys.argv[2])
sum= a+b
print|("sum of two numbers is:",sum)

ValueError: ignored

Exercise 3

a) write a program for checking whether given number is even number or not

In [ ]:
n=int(input("enter a number"))
if n%2==0:
   print("given number is even")
else:
  print("given number is odd")

enter a number11
given number is odd

b) using a for loop,write a program that prints out the decimal equivalents of 1/2,1/3,1/4,...1/10.

In [ ]:
n=int(input("Enter a number"))
for i in range(2,n):
  de=1/i
  print("1/"+str(i)+"=",de)

Enter a number10
1/2= 0.5
1/3= 0.3333333333333333
1/4= 0.25
1/5= 0.2
1/6= 0.16666666666666666
1/7= 0.14285714285714285
1/8= 0.125
1/9= 0.1111111111111111

c) write a program using a for loop that loops over a sequence. what is sequence?

In [ ]:
arr=[4,"abc",-45,'C',10.5,True,5,10.6,'xyz']
print("Given array:",arr)
for x in arr:
  print(x)

Given array: [4, 'abc', -45, 'C', 10.5, True, 5, 10.6, 'xyz']
4
abc
-45
C
10.5
True
5
10.6
xyz

d) write a program using a while loop that asks the user for a number, and prints a countdown from that number to zero

In [ ]:
n=int(input("enter value of n:"))
while n>=0:
  print(n)
  n-=1

enter value of n:10
10
9
8
7
6
5
4
3
2
1
0

exercise 4

a) find the sum of all the primes below two million

In [ ]:
n=int(input("enter an ending number:"))
st=""
sum=0
for i in range(2,n):
  state=True
  for j in range(2,i):
    if(i%j)==0:
      state=False
      break;
      if state==True:
        st+=" "+str(i)
        sum+=i

print("prime numbers:")
print(st)
print("sum of the prime NUmbers:",sum)

b) Each new term in the Fibonacci sequence is generated by adding the previous two terms.By starting with 1 and 2,the first 10 terms will be :1,2,3,5,8,13,21,34,55,89...

In [ ]:
n=int(input("enter value of n "))
a=0
b=1
c=a+b
while c<n:
  print(c,end=' ')
  a=b
  b=c
  c=a+b

enter value of n 1000
1 2 3 5 8 13 21 34 55 89 144 233 377 610 987